@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  /* Additional styles from default */
  min-width: 12rem;
  min-height: 24rem;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}